#nav{
    height: 2.5rem;
    background-color: rgb(27, 31, 62);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    a{
        display: inline-block;
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 0.5rem 1rem;
    }
}